body {
  background-color: black;
  margin: 0;
  line-height: 1.5;
}

body,h1,h2,h3,h4,h5,h6,p,a {font-family: "Montserrat", sans-serif;}

h1, #discord, i {
  color: white;
  text-align: center;
}

h2,h3,p {color: #757575;}

h1 {
  font-size: 64px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

h3 {font-size: 24px;}

p {font-size: 18px;}

a {text-decoration: none;}

.sidebar {
  width: 120px;
  height: 100%;
  background-color: #222;
  text-align: center;
  position: fixed;
  overflow: auto;
  top: 0;
}

.sidebarLabel {
  color: white;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar a {
  color: white;
  padding: 6px 12px;
  font-size: 24px;
  display: none;
}

.mobileIcon {
  display: none;
}

.sidebar i {
  padding: 10px 12px;
  font-size: 36px;
  margin-top: 10px;
}

.sidebar a {
  display: block;
  width: 100%;
}

.sidebar a:hover {background-color: black;}

#content {
  max-width: 980px;
  margin: 0 auto;
}

#main {
  margin-left: 120px;
  padding:12px 24px!important
}

#mobileSidebar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#paypal {margin-top: 10px;}

#mobilePaypal {display: none;}

#active {background-color: black;}

#active:hover {background-color: #cccccc;}

#active:hover p {color: black;}

#active:hover i {color: black;}

i {font-size: 36px;}

header {padding: 32px 16px 32px 16px;}

footer {margin-top: 50px;}

footer p {font-size: 15px;}

@media only screen and (max-width: 980px) {

  .sidebar {display: none;}

  .navbar a.mobileIcon {display: block;}

  .paypal {display: none;}

  #main {margin-left: 0;}

  .navbar.responsive a.mobileButton {display: block;}

  .navbar.responsive {background-color: #222; height: 100%; opacity: 0.9;}

  .mobileButton {text-align: center;}

  a.mobileButton {font-size: 60px; font-family: "Montserrat", sans-serif; padding-bottom: 20px;}

  a.mobileIcon {font-size: 50px;}

  #mobilePaypal.responsive {display: block; text-align: center; padding-top: 20px;}
}

@media only screen and (max-height: 780px) {

  .sidebar i {
    padding: 4px 8px;
    font-size: 24px;
  }

  footer p {font-size: 8px;}
}
